<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 th:text="|Hello hello ${appName}|">app</h1>
<p th:text="${mySpecialNumber}">mySpecialNumber</p>
<p th:text="${55+77}">app</p>

<a th:href="@{/about}">Naar About</a>
<a th:href="@{/pay}">Naar Betalen</a>

<h2 th:text="${appName}+' --- '+${appName}">appname</h2>
</body>
</html>