<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pay</title>
</head>
<body>

/* =====NAVIGATIEBALK===== */
<div class="nav-wrapper">
    <div class="left-side">
        <div class="nav-link-wrapper active-nav-link">
            <a th:href="@{/home}">Home</a>
        </div>

        <div class="nav-link-wrapper">
            <a th:href="@{/about}">About</a>
        </div>

        <div class="nav-link-wrapper">
            <a th:href="@{/venue}">Venue</a>
        </div>

        <div class="nav-link-wrapper">
            <a th:href="@{/venuelist}">VenueList</a>
        </div>

        <div class="nav-link-wrapper">
            <a th:href="@{/pay}">Pay</a>
        </div>

    </div>
</div>

<p th:text="|De datum van vandaag is ${tijd}|">Datum</p>
<p th:text="|De uiterste datum van betaling is ${deadline}|">Deadline</p>
</body>
</html>