<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Venue List</title>
</head>
<body>
<nav>
    <a th:href="@{/home}">Home</a>
    <a th:href="@{/venuelist}">Venue List</a>
    <a th:href="@{/about}">About</a>
</nav>
<ul>
    <li><a th:href="@{/venuedetails/De%20Loods}">De Loods</a></li>
    <li><a th:href="@{/venuedetails/De%20Carr%C3%A9}">De Carré</a></li>
    <li><a th:href="@{/venuedetails/Sportpaleis}">Sportpaleis</a></li>
</ul>
</body>
</html>